.HEADER_TEXT {
    text-align: left;
    font: normal normal bold 16px/19px Montserrat;
    color: #669885;
}

p_span {
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    color: #669885;
}

.label_select {
    text-align: right;
    font: normal normal medium 12px/18px Montserrat;
    color: #393939;
    opacity: 1;
    background-color: white;
}

.select {
    background-color: white;
    border: #FFFFFF;
    outline: #8DBFAC;
}

.label_input {
    text-align: right;
    font: normal normal medium 12px/18px Montserrat;
    color: #393939;
    opacity: 1;
    background-color: white;
}

.input {
    text-align: left;
    font: normal normal medium 12px/18px Montserrat;
    color: #BABABA;
    opacity: 1;
    border-bottom-color: #8DBFAC;
    border-top: #FFFFFF;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
}

.green_small {
    text-align: left;
    font: normal normal medium 7px/15px Montserrat;
    color: #84B6A3;
    opacity: 1;
}

.textarea {
    text-align: left;
    font: normal normal medium 12px/18px Montserrat;
    color: #BABABA;
    opacity: 1;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #8DBFAC;
    box-sizing: border-box;
outline: #84B6A3;
}

.fixed-top {
    margin-top: 150px;
}

.h {
    margin-top: 490px;
    height: 120px;
}

.textarea_1 {
    text-align: left;
    font: normal normal medium 12px/18px Montserrat;
    color: #BABABA;
    opacity: 1;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #8DBFAC;
    box-sizing: border-box;
    height: 180px;
    outline: #84B6A3;
}


my_p{
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    color: #84B6A3;
    opacity: 1;
}
BTN_1{

    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    color: white;
    opacity: 1;
}
.my_btn_around{
    background: #84B6A3 no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 17px;
    opacity: 1;
}


.DRAG {
    text-align: center;
    font: normal normal medium 12px/12px Montserrat;
    color:black;
    opacity: 1;
}
.img{
    cursor: pointer;
}
.img_man{
    height: 300px;
}
.input{
    outline: #669885;
}

.BTN {
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    color: #84B6A3;
    opacity: 1;
}

