.INPUT_HEADER{
    background-color: #FFFFFF;
    border-radius: 15px;
}
.INPUT{
    justify-content: space-between;

}
.INPUT_text{
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    color: #84B6A3;
    opacity: 1;
    background: #FFFFFF no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 15px;


}

.lost_posts {
    animation: show 1s 1;
}

@keyframes show{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.spinner_lost {
    margin-top: 20rem;
}

.lost_post_image {
    max-width: 20rem;
    max-height: 20rem;
}