@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 95%;
    gap: 0px 0px;
    grid-template-areas:
    "header header header"
    "main main main";
    color: #84B6A3;

}

.header {
    grid-area: header;
}

.main {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "preview_post preview_post preview_post"
    "preview_post preview_post preview_post";
    grid-area: main;
}

.left_bar {
    grid-area: left_bar;
}

.right_bar {
    grid-area: right_bar;
}

.preview_post {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr 20% 5% 5%;
    gap: 0px 0px;
    grid-template-areas:
    "upper_text upper_text upper_text"
    "preview_main preview_main preview_main"
    "bottom_text bottom_text bottom_text"
    "share edit publish"
    "footer_text footer_text footer_text";
    grid-area: preview_post;

}

.preview_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "dog_photo dog_text dog_text"
    "dog_photo color features"
    "dog_photo sex features"
    "dog_photo height features"
    "dog_photo description description"
    "dog_photo description description"
    "dog_photo description description"
    "dog_photo location ."
    "dog_photo user icons";
    grid-area: preview_main;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}

.dog_text {
    grid-area: dog_text;
}


.color {
    grid-area: color;
}

.sex {
    grid-area: sex;
}

.features {
    grid-area: features;
}

.height {
    grid-area: height;
}

.description {
    grid-area: description;
}

.dog_photo {
    grid-area: dog_photo;

}

.dog_photo > img {
    width: 100%;
    height: 70%;
}

.location {
    grid-area: location;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". user_name";
    grid-area: user;
}

.user_name {
    grid-area: user_name;
}

.icons {
    grid-area: icons;
}

.bottom_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "text text text"
    "text text text"
    "text text text";
    grid-area: bottom_text;
}

.text {
    grid-area: text;
}

.edit {
    grid-area: edit;
}

.edit > button {
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    border: 1px solid #8DBFAC;
    color: #8DBFAC;
    padding: 0.4rem;
}

.publish {
    grid-area: publish;
}

.publish > button {
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    border: 1px solid #8DBFAC;
    color: #8DBFAC;
    padding: 0.4rem;
}

.share {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". share_text";
    grid-area: share;
}

.share_text {
    grid-area: share_text;
    color: #393939;
}

.footer_text {
    grid-area: footer_text;
}

.upper_text {
    grid-area: upper_text;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #669885;
}

.upper_text > p > span {
    font: bold medium Montserrat;
}

.description > p > span, .features > p > span, .location > p > span {
    color: #393939;
}