.signin_btn_text{
    text-align: center;
    font: normal normal medium  Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.HEADER{
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;

}


.Lost_text{
    color:  #393939
}

.lost_btn{
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    opacity: 1;
    background: #FFE18B 0% 0% no-repeat padding-box;
}

.found_btn {
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    opacity: 1;
    background: #84B6A3 0% 0% no-repeat padding-box;
}

/*.found_btn, .lost_btn {*/
/*    margin-bottom: 1rem;*/
/*}*/