.user_name {
    color: #84B6A3;
    font: normal normal 600 16px/19px Montserrat;
}

.user_time {
    color: #BABABA;
    font: normal normal medium 12px/15px Montserrat;
}

.user_text {
    color: #393939;
}

.user_text_span {
    color: #84B6A3;
}

.user_name, .user_time, .user_text, .user_text_span {
    text-align: left;
}

.user_text, .user_text_span {
    font: normal normal medium 12px/18px Montserrat;
}