@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.jumbotron{
    margin: 0;
    padding: 0;
    background-color: #84B6A3;
    box-sizing: border-box;
}
.signin_btn_text{
    text-align: center;
    font: normal normal medium  Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.signin_btn{
    border: 1px solid #FFFFFF;
    border-radius: 17px;
    opacity: 1;
    background-color: #84B6A3;
}
ul>li>a{
    text-align: left;
    font: normal normal medium  Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.BTN{
    color: #FFFFFF;
   /* border: 1px solid #FFFFFF;
    border-radius: 17px;
    opacity: 1;*/
}
.HEADER{
    background-color: #FFFFFF;
}
.LOGOUT{
    text-align: center;
    font: normal normal medium  Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

}

.nav-item{
    list-style: none;
}
li>a:hover{
    color: navajowhite;
}
li>a:active{
    color:rosybrown;
}
.MAIN{
    background-color: #FFFFFF;
}
.iframe{
   width: 850px;
   height: 1000px;
    border: 0;


}
.Lost{
    background: #FFE18B 0% 0% no-repeat padding-box;
    border: 1px solid #FFE78D;
    border-radius: 17px;
    opacity: 1;
}
.Lost_text{
  color:  #393939
}

.Found{
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.INPUT_HEADER{
background-color: #FFFFFF;
    border-radius: 15px;
}
.INPUT{
    justify-content: flex-start;
    justify-content: space-between;

}
.INPUT_text{
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #84B6A3;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 15px;


}

.signin_btn {
    opacity: 1 !important;
    background-color: #84B6A3;
}

select {
    appearance: none;
    background-color: #84B6A3;
}