.jumbotron{
    margin: 0;
    padding: 0;
    background-color: #84B6A3;
    box-sizing: border-box;
}

ul>li>a{
    text-align: left;
    font: normal normal medium  Montserrat;
    color: #FFFFFF;
    opacity: 1;
}

.BTN{
    color: #FFFFFF;
}

.LOGOUT{
    text-align: center;
    font: normal normal medium  Montserrat;
    color: #FFFFFF;
    opacity: 1;

}

.nav-item{
    list-style: none;
}
li>a:hover{
    color: navajowhite;
}
li>a:active{
    color:rosybrown;
}
.MAIN{
    background-color: #FFFFFF;
}






.signin_btn {
    opacity: 1 !important;
    background-color: #84B6A3;
}

select {
    appearance: none;
    background-color: #84B6A3;
}