.fostering_upper_text {
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    color: #669885;
}

.fostering_upper_text > span {
    font: normal normal bold 16px/19px Montserrat;
}

.fostering_user_name {
    text-align: left;
    font: normal normal 600 16px/19px Montserrat;
    color: #84B6A3;
    opacity: 1;
}

.fostering_user_time {
    text-align: left;
    font: normal normal medium 12px/15px Montserrat;
    color: #BABABA;
    opacity: 1;
}

.fostering_user_text {
    text-align: left;
    font: normal normal medium 12px/18px Montserrat;
    opacity: 1;
}

.fostering_user_text > span {
    color: #84B6A3;
}

.fostering_star {
    cursor: pointer;
}