@import url('https://fonts.googleapis.com/css2?family=montserrat:wght@500&display=swap');

.flex-column_left_bar {
    background-color: #84B6A3;
    height: 100vh;
    width: 100vh;
}

.left_bar_border {
    margin-top: 5rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.left_bar_active {
    background-color: white;
    width: 10rem;
    color: #84B6A3;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-right: 1rem;
}

.navbar {
    align-items: initial;
    color: white;
}

.nav-link:hover {
    color: gray;
}